<div>
<%= @game.current_player.name %> attacked <%= @game.current_opponent.name %>!
<%= @game.current_opponent.name %> HP has dropped by 10! HP = <%= @game.current_opponent.hp %>

<a href="/switch">Switch!</a>

</div>
